<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>Ninjas</h1>
    <img src="static/Ninja-Shadow-2.png" alt="ninja">
    <p>Ninjas were prominent in Japan's feudal age. Where Samurai were the equivalents of knights and served their (land)lord, ninjas were for-hire and had no master. They were thought to train extensively at hidden "schools" called 'dojos' </p>
    <h3>Now</h3>
    <p>Since then they have been inducted into pop culture and glamorized and mythologized to have special magical abilities.</p>
  </body>
</html>
